<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/login.css" type = "text/css" />
    <title>Inventory!</title>
</head>
<body>
    <div class="container">
    <main>
        <p> Welcome </p>
        <form method = "POST" id="weatherForm">
            <input type = "text" id = "product" placeholder="Username"/>
        </form>
        <form method = "POST" id="weatherForm">
            <input type = "text" id = "product" placeholder="Password"/>
        </form>
        <form method = "POST" id="weatherForm">
            <input id="postSubmit" type="submit" value ="Login"/>
        </form>
       
    </main>
    </div>
    
    <script src = "../public/functions.js"></script>
</body>
</html>
