<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/map.css" type = "text/css" />
    <title>Inventory!</title>
</head>
<body>
<!-- 
    <div class = "app-container"> -->
        <section class="team">
        <!-- <h2 class="section-heading">Our Team</h2> -->
        <div class="container">
            <div class="profile1">
            <img src= "../public/images/mini.png" alt=""/><span class="name">Stock</span>
            </div>
            <div class="profile2">
            <img src= "../public/images/mini.png" alt=""/><span class="name">Order</span>
            </div>
        
        </div>
        </section>
<!-- 
        <div class="container">
            <div class="cookiesContent" id="cookiesPopup">
            <button class="close">✖</button>
            <img src="../public/images/mini.png" alt="cookies-img" />
            <p>We use cookies for improving user experience, analytics and marketing.</p>
            <button class="accept">That's fine!</button>
            </div>

            
            
        </div> -->
    <!-- </div> -->

<!-- 
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const firstProfileImage = document.querySelector(".profile1 img");
            const cookiePopup = document.getElementById("cookiesPopup");
            const closeButton = document.querySelector(".cookiesContent .close");
            const acceptButton = document.querySelector(".cookiesContent .accept");
            
        
            firstProfileImage.addEventListener("click", function() {
                cookiePopup.style.display = "block"; 
            });
        
            closeButton.addEventListener("click", function() {
                cookiePopup.style.display = "none"; 
            });

            acceptButton.addEventListener("click", function() {
                cookiePopup.style.display = "none"; 
            });
        });

    </script> -->

    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
          <li class="navbar-logo flexbox-left">
            <a class="navbar-item-inner flexbox">
                <img src="../public/images/mini.png" id="LogoMenu" data-name="Layer 1" viewBox="0 0 1438.88 1819.54" />
              <!-- <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1438.88 1819.54">
                <polygon points="925.79 318.48 830.56 0 183.51 1384.12 510.41 1178.46 925.79 318.48"/>
                <polygon points="1438.88 1663.28 1126.35 948.08 111.98 1586.26 0 1819.54 1020.91 1250.57 1123.78 1471.02 783.64 1663.28 1438.88 1663.28"/>
              </svg> -->
              <span class="link-text">Electrix!</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = dashboard>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="search-outline"></ion-icon>
              </div>
              <span class="link-text">Dashboard</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = inventory>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="home-outline"></ion-icon>
              </div>
              <span class="link-text">Inventory</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = orders>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="folder-open-outline"></ion-icon>
              </div>
              <span class="link-text">Orders</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = sales>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="pie-chart-outline"></ion-icon>
              </div>
              <span class="link-text">Sales</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = performance>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="people-outline"></ion-icon>
              </div>
              <span class="link-text">Performance</span>
            </a>
          </li>
        </ul>
    </nav>

    <script>
        document.querySelector(".profile1 img").addEventListener("click", function() {
        window.location.href = "data.html";
        redirectToData();
    });

        function redirectToData() {
            window.location.href = "data.html";
        }
    </script>

    <script>
        document.getElementById("dashboard").addEventListener("click", function() {
        window.location.href = "dashboard.html";
        redirectToDashboard();
    });

        function redirectToDashboard() {
            window.location.href = "dashboard.html";
        }
    </script>

    <script>
        document.getElementById("dashboard").addEventListener("click", () => {
            remote.app.emit('dashboard-page');
        });
    </script>

    <script>
      document.getElementById("inventory").addEventListener("click", function() {
      window.location.href = "inventory.html";
      redirectToInventory();
    });

      function redirectToInventory() {
          window.location.href = "inventory.html";
      }
    </script>

    <script>
        document.getElementById("inventory").addEventListener("click", () => {
            remote.app.emit('inventory-page');
        });
    </script>

    <script>
      document.getElementById("orders").addEventListener("click", function() {
      window.location.href = "order.html";
      redirectToOrder();
    });

      function redirectToOrder() {
          window.location.href = "order.html";
      }
    </script>

    <script>
        document.getElementById("orders").addEventListener("click", () => {
            remote.app.emit('order-page');
        });
    </script>

</body>
</html>
