<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/map.css" type = "text/css" />
    <title>Inventory!</title>
</head>
<body>
    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
          <li class="navbar-logo flexbox-left">
            <a class="navbar-item-inner flexbox">
                <img src="../public/images/mini.png" id="LogoMenu" data-name="Layer 1" viewBox="0 0 1438.88 1819.54" />
              <!-- <span class="link-text1">Electrix!</span> -->
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = dashboard>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="search-outline"></ion-icon>
              </div>
              <span class="link-text">Dashboard</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = inventory>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="home-outline"></ion-icon>
              </div>
              <span class="link-text">Inventory</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = orders>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="folder-open-outline"></ion-icon>
              </div>
              <span class="link-text">Orders</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left" id = sales>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="pie-chart-outline"></ion-icon>
              </div>
              <span class="link-text">Sales</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left performance" id = performance>
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="people-outline"></ion-icon>
              </div>
              <span class="link-text">Performance</span>
            </a>
          </li>
        </ul>
    </nav>
    <div class = "table4">
        <h2><small>Performance Report</small><br><small> FY 2024, Q1</small></h2>
        
        <div class ="frame">
            <div class="button-container">
            <span class="button-text">Generate Report</span>
            <a href="#" class="btn" id = "addbutton" >+</a>
            </div>
        </div>
    </div>

    <div id="display_area_performance">

    </div>

    

</body>

<script src ="../../backend/performance.js"> </script>

<script>
  document.getElementById("LogoMenu").addEventListener("click", function() {
  window.location.href = "map.html";
  redirectToMainMenu();
  remote.app.emit('map-page');
});

  function redirectToMainMenu() {
      window.location.href = "map.html";
  }
</script>

<script>
  document.getElementById("dashboard").addEventListener("click", function() {
  window.location.href = "dashboard.html";
  remote.app.emit('dashboard-page');
});
</script>

<script>
document.getElementById("inventory").addEventListener("click", function() {
window.location.href = "inventory.html";
remote.app.emit('inventory-page');
});
</script>

<script>
document.getElementById("order").addEventListener("click", function() {
window.location.href = "order.html";
remote.app.emit('order-page');
});
</script>

<script>
document.getElementById("sales").addEventListener("click", function() {
window.location.href = "sales.html";
remote.app.emit('sales-page');
});
</script>

<script>
document.getElementById("performance").addEventListener("click", function() {
window.location.href = "performance.html";
remote.app.emit('performance-page');
});
</script>

</html>