@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

/* .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.team {
    text-align: center;
}

/* .section-heading {
    font-family: "Crimson Text", cursive;
    text-align: center;
    font-size: 34px;
    color: #000000;
    margin: 0 0 0px;
} */

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile1,.profile2 {
    position: relative;
    transition: all 0.3s;
}

.profile1:hover, .profile2:hover{
    transform: translateY(-1px);
}

.profile1 img,.profile2 img {
    max-width: 70%;
    border: 2px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    margin-left: -20px;
}



.profile1 .name, .profile2 .name {
    position: absolute;
    background-color: #e58eff;
    color: #fff;
    font-family: "Crimson Text", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px; left: 48%;
    white-space: nowrap;
    transform: translate(-50%, 2px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
}

.profile1 .name::before, .profile2 .name::before{
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #e58eff;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.profile1 img:hover + .name, .profile2 img:hover + .name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}


/* Search Bar in Inventory Page */
* {
    -webkit-font-smoothing: antialiased;
  }
  
  :root {
    --border-radius: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin-bottom: 0;
    }

  .table h2{
    margin-top: 10%;
  }

  h2 small {
    font-size: 0.5em;
  }

  .table {
    position: relative;
}

  .Card {
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
    overflow: hidden;
    box-shadow: 
      -2px -2px 6px rgba(#fff, .6),
      2px 2px 12px #c8d8e7;
    width: 380px;
    position: absolute;
    transform: translateX(-50%);
    margin: 20px 190px 0;
  }
  
  .CardInner {
    padding: 34px 16px;
    background-color: #f7f7f7;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
  }


  .container {
    display: flex;
  }
  
  .Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-right: 12px;
    box-shadow: 
      -2px -2px 6px rgba(#fff, .6),
      2px 2px 12px #c8d8e7;
  }

  .Icon svg {
    transform: translate(-1px, -1px);    
  }
  
  
  .InputContainer {
    width: 100%;
  }
  
  input {
    background-color: #ffffff;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: var(--font-main);
    font-weight: 200;
    color: #a9b8c9;
    transition: all 240ms ease-out;
    width: 100%;
  };
  
  input[type="text"] {
    height: 60px; 
  }

  input::placeholder {
    color: #617280;
  }
  
  input:focus {
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
    
  .InputContainer {
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
    --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
    
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .InputContainer:before,
    .InputContainer:after {
      left: 0;
      top: 0;
      display: block;
      content: "";
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    
    .InputContainer:before {
      box-shadow: var(--bottom-shadow);
    }
    
    .InputContainer:after {
      box-shadow: var(--top-shadow);
    }

/* Button Bar in Inventory Page */
      .frame{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 220px;
        position: relative;
         box-shadow:
         -7px -7px 20px 0px #fff9,
         -4px -4px 5px 0px #fff9,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001,
         inset 0px 0px 0px 0px #fff9,
         inset 0px 0px 0px 0px #0001,
         inset 0px 0px 0px 0px #fff9,        
         inset 0px 0px 0px 0px #0001;
         transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
         border-radius: 10px;
         margin-left: 70%;
         margin-top: 20px;
      }
      
      .button-container {
        display: flex;
        align-items: center;
    }

      .btn{
        height: 50px;
        width: 50px;
        border-radius: 3px;
        background: #e0e5ec;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        box-shadow:
         -7px -7px 20px 0px #fff9,
         -4px -4px 5px 0px #fff9,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001;
       transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
        font-size: 26px;
        color: #666;
        text-decoration: none;
        margin-left: 25px;
        
      }

      .button-text {
        margin-left: 40px;
        font-size: 18px; 
        color: #666; 
        } 
      .btn:hover{
      background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
        color: rgba(102,102,102,.5); 
        animation: colorchange 3s linear infinite;
      }
      .btn:active{
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.5),
          inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      }
      
      @keyframes colorchange {
          to {filter: hue-rotate(360deg);}
      }

      .frame2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 90px;
        position: relative;
         box-shadow:
         -7px -7px 20px 0px #fff9,
         -4px -4px 5px 0px #fff9,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001,
         inset 0px 0px 0px 0px #fff9,
         inset 0px 0px 0px 0px #0001,
         inset 0px 0px 0px 0px #fff9,        
         inset 0px 0px 0px 0px #0001;
         transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
         border-radius: 10px;
         left: 8%;
         margin-bottom: 660px;
      }
      
      .btn2{
        height: 30px;
        width: 80px;
        border-radius: 3px;
        background: #95A5A6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        box-shadow:
         -7px -7px 20px 0px #fff9,
         -4px -4px 5px 0px #fff9,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001;
       transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px;
        z-index: 2;
      }

      .btn2:hover{
      background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
        color: rgba(102,102,102,.5); 
        animation: colorchange 3s linear infinite;
      }
      .btn2:active{
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.5),
          inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      }
      
      @keyframes colorchange {
          to {filter: hue-rotate(360deg);}
      }

      .frame3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 90px;
        position: relative;
         box-shadow:
         -7px -7px 20px 0px #fff9,
         -4px -4px 5px 0px #fff9,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001,
         inset 0px 0px 0px 0px #fff9,
         inset 0px 0px 0px 0px #0001,
         inset 0px 0px 0px 0px #fff9,        
         inset 0px 0px 0px 0px #0001;
         transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
         border-radius: 10px;
         left: 10%;
         margin-bottom: 660px;
      }
      
      .btn3{
        height: 30px;
        width: 80px;
        border-radius: 3px;
        background: #e0e5ec;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        box-shadow:
         -7px -7px 20px 0px #fff9,
         -4px -4px 5px 0px #fff9,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001;
       transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
        font-size: 20px;
        color: #666;
        text-decoration: none;
        padding: 10px;
        z-index: 2;
      }

      .btn3:hover{
      background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
        color: rgba(102,102,102,.5); 
        animation: colorchange 3s linear infinite;
      }
      .btn3:active{
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.5),
          inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      }
      
      @keyframes colorchange {
          to {filter: hue-rotate(360deg);}
      }
      

/* Table in inventory page */

.table {
    max-width: 1200px;
    margin-left: -5%;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}


.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 30px;
    position: sticky;
    top: 0;
    z-index: 2;


.responsive-row {
    max-height: 390px; 
    overflow-y: auto;
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    position: relative;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

}

.col-1 {
    flex-basis: 16%;
    text-align: center;
}

.col-2 {
    flex-basis: 13%;
    text-align: center;
}
.col-3 {
    flex-basis: 13%;
    text-align: center;
}
.col-4 {
    flex-basis: 13%;
    text-align: center;
}
.col-5 {
    flex-basis: 13%;
    text-align: center;
}
.col-6 {
    flex-basis: 16%;
    text-align: center;
}
.col-7 {
    flex-basis: 16%;
    text-align: center;
} 


@media all and (max-width: 767px) {
    .table-header {
    display: none;
    }
    li {
    display: block;
    }
    .col {
    
    flex-basis: 100%;
    display: flex;
    padding: 10px 0;
    }
    .col :before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }

} 

/* Table in Orders Page */

.table2 {
    max-width: 1300px;
    margin-left: -5%;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}


.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 25%;
    overflow-y: scroll;
  }

.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 30px;
    position: sticky;
    top: 0;
    z-index: 2;

}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

}

.productContent {
    width: 120px;
    height: 0px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 239, 253);
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 30px 30px 40px;
    z-index: 4;
    position: absolute;
    /* margin-top: -8%;
    margin-left: -92%; */
    display: none;
    top: calc(100% + 10px);
    left: 0;
}

.productContent::after{
    margin-top: 10px;
    position: absolute;
}

.col-1 {
    flex-basis: 7%;
    text-align: center;
}


.col-1 .productContent {
    width: 120px;
    height: 0px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 239, 253);
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 30px 30px 40px;
    z-index: 4;
    position: absolute;
    /* margin-top: -8%;
    margin-left: -92%; */
    display: none;
    top: calc(100% + 10px);
    left: 0;
}

.col-1 .productContent::after{
    margin-top: 10px;
    position: absolute;
}


.col-1 svg{
    width: 10px;
    height: 10px;
    color: Black;
    margin-left: -30px;
    margin-right: 20px;
    margin-top: 2px;

}
.col-2 {
    flex-basis: 11%;
    text-align: center;
}
.col-3 {
    flex-basis: 11%;
    text-align: center;
}
.col-4 {
    flex-basis: 13%;
    text-align: center;
}
.col-5 {
    flex-basis: 12%;
    text-align: center;
}
.col-6 {
    flex-basis: 10%;
    text-align: center;
}
.col-7 {
    flex-basis: 10%;
    text-align: center;
} 

.col-8 {
    flex-basis: 10%;
    text-align: center;
}
.col-9 {
    flex-basis: 10%;
    text-align: center;
}


@media all and (max-width: 767px) {
    .table-header {
    display: none;
    }
    li {
    display: block;
    }
    .col {
    flex-basis: 100%;
    display: flex;
    padding: 10px 0;
    }
    .col :before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }

}

/* Table in Sales Page */

.table3 {
    max-width: 1200px;
    margin-left: -5%;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}


.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 30px;
    position: sticky;
    top: 0;
    z-index: 2;

}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

}

.productContent {
    width: 120px;
    height: 0px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 239, 253);
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 30px 30px 40px;
    z-index: 4;
    position: absolute;
    /* margin-top: -8%;
    margin-left: -92%; */
    display: none;
    top: calc(100% + 10px);
    left: 0;
}

.productContent::after{
    margin-top: 10px;
    position: absolute;
}

.col-1 {
    flex-basis: 17%;
    text-align: center;
}


.col-1 .productContent {
    width: 120px;
    height: 0px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 239, 253);
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 30px 30px 40px;
    z-index: 4;
    position: absolute;
    /* margin-top: -8%;
    margin-left: -92%; */
    display: none;
    top: calc(100% + 10px);
    left: 0;
}

.col-1 .productContent::after{
    margin-top: 10px;
    position: absolute;
}


.col-1 svg{
    width: 10px;
    height: 10px;
    color: Black;
    margin-left: -30px;
    margin-right: 20px;
    margin-top: 2px;

}
.col-2 {
    flex-basis: 17%;
    text-align: center;
}
.col-3 {
    flex-basis: 17%;
    text-align: center;
}
.col-4 {
    flex-basis: 16%;
    text-align: center;
}
.col-5 {
    flex-basis: 16%;
    text-align: center;
}
.col-6 {
    flex-basis: 17%;
    text-align: center;
}


@media all and (max-width: 767px) {
    .table-header {
    display: none;
    }
    li {
    display: block;
    }
    .col {
    flex-basis: 100%;
    display: flex;
    padding: 10px 0;
    }
    .col :before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }

}

.table4 {
    max-width: 1200px;
    margin-left: -5%;
    margin-right: auto;
    padding-left: 200px;
    padding-right: 10px;
    margin-top: -500px;;
    width: 100%;
}




.cookiesContent {
    width: 1000px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 234, 234);
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
    z-index: 3; 
    position: relative;
    margin-top: 17%;
    margin-left: -7.5%;
}


    .cookiesContent .arrow::before{
        content: "";
        position: absolute;
        width: 15px; height: 15px;
        background-color:  rgb(255, 234, 234);;
        top: 0; left: 96%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .cookiesContent button.close {
        width: 30px;
        font-size: 20px;
        color: #c0c5cb;
        align-self: flex-end;
        background-color: transparent;
        border: none;
        margin-bottom: 10px;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1; 
    }

    .cookiesContent img {
        width: 82px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .cookiesContent p {
        margin-bottom: 40px;
        font-size: 18px;
    }

    .cookiesContent button.accept {
        background-color: #ed6755;
        border: none;
        border-radius: 5px;
        width: 200px;
        padding: 14px;
        font-size: 16px;
        color: white;
        box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
    }


.profileContent {
    width: 200px;
    height: 370px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 239, 253);
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
    z-index: 3; 
    position: relative;
    margin-top: -28.5%;
    margin-left: 95%;
    display: none;
}
    
        .profileContent button.close {
            width: 30px;
            font-size: 20px;
            color: #c0c5cb;
            align-self: flex-end;
            background-color: transparent;
            border: none;
            margin-bottom: 10px;
            position: absolute;
            top: 10px;
            right: 20px;
            z-index: 1; 
        }
    
        .profileContent img {
            width: 82px;
            margin-top: 20px;
            margin-bottom: 10px;
            border-radius: 10rem;
        }
    
        .profileContent p {
            margin-bottom: 40px;
            font-size: 18px;
        }
    
        .profileContent button.accept {
            background-color: #ffffff;
            border: none;
            border-radius: 5px;
            width: 180px;
            padding: 14px;
            font-size: 16px;
            color: rgb(0, 0, 0);
            box-shadow: 0px 6px 18px -5px rgb(252, 251, 251);
            align-items: center;
        }

        .profileContent button.accept:hover {
             background-color: rgb(230, 230, 230); 
            /* background: radial-gradient(circle,  #0ff 0%, #e0e5ec 20%); */
            /* color: rgba(217, 213, 213, 0.5);  */
            /* animation: colorchange 3s linear infinite; */
        }
    
    


  :root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --text-primary: 0, 0%, 0%;
    /* Colors */
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --quite-gray: 0, 0%, 50%;
    --grooble: 10, 28%, 93%;
    /* Sizes */
    --heading-large: 5.6rem;
    --heading-medium: 3.6rem;
    --heading-small: 2.4rem;
    --paragraph: 1.11rem;
    --navbar-buttons: 2.4rem;
    /* misc */
    --transition-main: .175, .685, .32;
    /* Fonts */
    --font-main: "Poppins";
}

/* ===========
    Variabels
   =========== */

/* ===============
    Global Styles
   =============== */

*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    background-color: hsl(var(--background));
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* ============
    Typography
   ============ */

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Font Size */
h1 {
    font-size: var(--heading-large);
}
h2 {
    font-size: var(--heading-medium);
}
h3 {
    font-size: var(--heading-small);
}
h4 {
    font-size: calc(var(--heading-small) - .2rem);
}
h5 {
    font-size: calc(var(--heading-small) - .4rem);
}
h6 {
    font-size: calc(var(--heading-small) - .6rem);
}
/* Font Weight */
h1, h2 {
    font-weight: 900;
}
h3, h4, h5, h6 {
    font-weight: 800;
}
/* Paragraphs */
p {
    margin: 0;
    font-size: var(--paragraph);
}
/* Links */
a {
    color: hsla(var(--primary), 1);
    font-size: var(--paragraph);
    text-decoration: underline;
}
a:visited {
    color: hsla(var(--primary), .5);
}

/* =========
    Buttons
   ========= */

button {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    background-color: hsl(var(--background));
    font-size: var(--paragraph);
    cursor: pointer;
    outline: none;
}
button:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}

/* =======
    Lists
   ======= */

ul, ol {
    margin: 1em 0;
}

/* =======
    Forms
   ======= */

form {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: .5em 0;
    border: none;
}
input {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}
textarea {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    font-family: var(--font-main);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}
input, textarea {
    transition: all .2s ease-in-out;
}
input:hover, input:focus, textarea:hover, textarea:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 2px solid transparent;
}
select {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    font-size: var(--paragraph);
    outline: none;
}

/* =========
    Classes
   ========= */

/* ================
    Global classes
   ================ */

/* =========
    Flexbox
   ========= */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar:hover .dashboard .navbar-item-inner{
    background: hsl(var(--grooble));
}

#navbar:hover .inventory .navbar-item-inner{
    background: hsl(var(--grooble));
}

#navbar:hover .orders .navbar-item-inner{
    background: hsl(var(--grooble));
}

#navbar:hover .sales .navbar-item-inner{
    background: hsl(var(--grooble));
}

#navbar:hover .performance .navbar-item-inner{
    background: hsl(var(--grooble));
}

/* =========
    Classes
   ========= */

.view-width {
    width: 70%;
}

/* ========
    Navbar
   ======== */

#navbar {
    top: 0;
    padding: 0;
    left: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: hsl(var(--background-secondary));
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 4;
}
#navbar:hover {
    width: 16em;
}
#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
    background-color:  hsl(var(--background-secondary));
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Navbar Logo */
.navbar-logo {
    margin: 0 0 2em 0;
    width: 100%;
    height: 5em;
    background: hsl(var(--background-secondary-dark));
}
.navbar-logo > .navbar-item-inner {
    width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
    background-color: transparent;
}
.navbar-logo > .navbar-item-inner > img {
    height: 3em;
    fill: hsl(var(--white));

}
/* Navbar Items */
.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}
.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(var(--quite-gray));
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}
.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}
.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
}
#navbar:hover .link-text{
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}




/* =============
    ::Selectors
   ============= */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}
::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
    background-color:  hsl(var(--quite-gray));
}

/* ===============
    5. @keyframes
   =============== */

/* ==============
    @media rules
   ============== */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }
    .view-width {
        width: 80%;
    }
}
@media only screen and (max-width: 1220px) {
    .view-width {
        width: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }
    .view-width {
        width: 75%;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
        --navbar-buttons: 2.2rem;
    }
    .view-width {
        width: calc(100% - 5em);
    }
}
@media only screen and (max-width: 576px) {
    .view-width {
        width: calc(100% - 3em);
    }
}
@media only screen and (max-width: 496px) {

}

/* Bell in the bar */

* {
    margin: 0;
    padding: 0;
  }
  html {
    line-height: 1.2;
    box-sizing: border-box;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  html,
  body {
    height: 100%;
  }
  .notification-box {
    position: fixed;
    z-index: 99;
    top: 28px;
    right: 22.5px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .notification-bell:hover {
    animation: bell 1s .1s both infinite;
  }

  .notification-bell:hover .bell-rad {
    animation: rad 1s 2s both infinite;
  }

  .notification-bell * {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px #fff;
  }
  .bell-top {
    width: 4px;
    height: 4px;
    border-radius: 2px 2px 0 0;
  }
  .bell-middle {
    width: 15px;
    height: 15px;
    margin-top: -1px;
    border-radius: 7.5px 7.5px 0 0;
  }
  .bell-bottom {
    position: relative;
    z-index: 0;
    width: 20px;
    height: 1px;
  }
  .bell-bottom::before,
  .bell-bottom::after {
    content: '';
    position: absolute;
    top: -2px;
  }
  .bell-bottom::before {
    left: 1px;
    border-bottom: 2px solid #fff;
    border-right: 0 solid transparent;
    border-left: 2px solid transparent;
  }
  .bell-bottom::after {
    right: 1px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid transparent;
    border-left: 0 solid transparent;
  }
  .bell-rad {
    width: 6px;
    height: 3px;
    margin-top: 1px;
    border-radius: 0 0 4px 4px;
  }
  .notification-count {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 6px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #ff4927;
    color: #fff;
    font-style: normal; 
  }
  @keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }
  @keyframes rad {
    0% { transform: translateX(0); }
    10% { transform: translateX(6px); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    90% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
  }

/* Top Nav Bar */

  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  .wrapper{
    margin: 10px;
    z-index: 3;
  }
  
  .wrapper .top_navbar{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .wrapper .top_navbar .top_menu{
    width: 100%;
    height: 100%;
    background: #fff;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  
  .wrapper .top_navbar .top_menu .logo{
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
  }
  
  .wrapper .top_navbar .top_menu ul{
    display: flex;
  }
  
  .wrapper .top_navbar .top_menu ul li a{
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: #2e4ead;
    background: #4360b5;
  }
  
  .wrapper .top_navbar .top_menu ul li a:hover{
    background: #c0d1ff;
    
    color: #fff;
  }
  
  .wrapper .top_navbar .top_menu ul li a:hover i{
    color: #fff;
  }
  
  .wrapper.collapse .main_container{
    width:(100% - 70px);
    margin-left: 70px;
  }


/* Download button on the bar */
.btn-circle-download {
    position: relative;
    margin: auto;
    border-radius: 100%;
    background: #E8EAED;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s ease;
    top: -6px;
    right: 24px;
  }
  .btn-circle-download:after {
    content: "";
    position: relative;
    height: 100%;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    transform: translateX(-100%);
  }
  .btn-circle-download svg {
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 100));
  }
  .btn-circle-download svg#border {
    position: absolute;
    top: 0;
    left: 0;
    stroke: none;
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    transition: all .9s linear;
    transform: scale(0.9);
    
  }
  .btn-circle-download svg#arrow {
    position: absolute;
    top: 14px;
    left: 17px;
    stroke: #ffffff;
    transition: all .2s ease;
    transform: scale(0.8);
  }
  .btn-circle-download svg#check {
    position: absolute;
    top: 17px;
    left: 14px;
    stroke: white;
    transform: scale(0);
  }
  .btn-circle-download:hover {
    background: rgba(#0077FF, .2);
  }
  .btn-circle-download:hover svg#arrow path,
  .btn-circle-download:hover svg#arrow polyline {
    stroke: #0077FF;
  }
  .btn-circle-download.load {
    background: rgba(#0077FF, .2);
  }
  .btn-circle-download.load svg#arrow path,
  .btn-circle-download.load svg#arrow polyline {
    stroke: #ffffff;
  }
  .btn-circle-download.load svg#border {
    stroke: #92c6fd;
    stroke-dasharray: 144;
    stroke-dashoffset: 0;
  }
  .btn-circle-download.done {
    background: #0077FF;
    animation: rubberBand .8s;
  }
  .btn-circle-download.done svg#border,
  .btn-circle-download.done svg#arrow {
    display: none;
  }
  .btn-circle-download.done svg#check {
    transform: scale(0.8);
    transition: all .2s ease;
    transition-delay: .2s;
  }
  
  @keyframes rubberBand {
    from {
      transform: scale(1, 1, 1);
    }
    30% {
      transform: scale3d(1.15, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.15, 1);
    }
    50% {
      transform: scale3d(1.10, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }


  .svg-icon {
    color:rgb(255, 255, 255);
    margin-top: 25%;
    padding: 2.5px;
    background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%);
    transform: scale(1.5);
  }


  *, *:after, *:before {
	box-sizing: border-box;
}

/* Add Button Effect */

:root {
	--c-action-primary: #2e44ff;
	--c-action-primary-accent: #e9e5ff;
	--c-action-secondary: #e5e5e5;
	--c-text-primary: #0d0f21; 
	--c-text-secondary: #6a6b76;
}

body {
	/* font-family: "Inter", sans-serif; */
	color: var(--c-text-primary);
	background-color: var(--c-background-primary);	
	line-height: 1.5;
}

input, button, select, textarea {
	font: inherit;
}

.modal {
    font-family: "Inter", sans-serif;
	width: 90%;
	max-width: 500px;
	margin-left: 45.5%;
	margin-right: auto;
	margin-top: 30%;
	margin-bottom: 10vh;
	background-color: #FFF;
	border-radius: .5rem;
	box-shadow: 0 5px 15px rgba(#000, .2); 
    z-index: 3;
    position: relative;
    display: none;
}

.modal .arrow::before{
    content: "";
    position: absolute;
    width: 15px; 
    height: 15px;
    background-color:  #FFF;
    top: 0; left: 96%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5rem 1.5rem 1rem;
}

.logo-circle {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--c-action-primary-accent);
}

.logo-circle svg {
    max-width: 1.5rem;
}

.btn-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: .25rem;
	border: none;
	background-color: transparent;
}

.btn-close:hover, .btn-close:focus {
    background-color: var(--c-action-primary-accent);
}

.modal-body {
	padding: 1rem 1.5rem;
}

.modal-title {
	font-weight: 600;
    font-size: 30;
}

.modal-description {
	color: var(--c-text-secondary);
}

.upload-area {
	margin-top: 1.25rem;
	border: none;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: transparent;
	padding: 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
} 

.upload-area:hover, .upload-area:focus {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.upload-area-icon {
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	
}

.upload-area-icon svg {
    max-height: 100%;
    max-width: 100%;
}

.upload-area-title {
	margin-top: 1rem;
	display: block;
	font-weight: 700;
		color: var(--c-text-primary);
}

.upload-area-description {
		display: block;
		color: var(--c-text-secondary);
}

.upload-area-description strong {
    color: var(--c-action-primary);
    font-weight: 700;
}

.modal-footer {
	padding: 1rem 1.5rem 1.5rem;
	display: flex;
	justify-content: flex-end;
}
.modal-footer [class*="btn-"] {
    margin-left: .75rem;
}

.btn-secondary, .btn-primary {
	padding: .5rem 1rem;
	font-weight: 500;
	border: 2px solid var(--c-action-secondary);
	border-radius: .25rem;
	background-color: transparent;
}

.btn-primary {
	color: #FFF;
	background-color: var(--c-action-primary);
	border-color: var(--c-action-primary);
}




/* Form  */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
.container{
    position: absolute;
    z-index: 3;
}

  .right-container {
    width: 350px;
    height: 450px;
    background: #eef4ff;
    color:  rgba(0,0,0,.8);
    display: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    border-radius: 1em;
    position: relative;
    margin-top: 20%;
    margin-left: 43%;
    padding: 20px;
    transform: translateY(-40px);

   }


   .right-container .arrow::before{
    content: "";
    position: absolute;
    width: 15px; 
    height: 15px; 
    background-color: #eef4ff;
    top: .5%; left: 93%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 5;
}

.right-container h1:nth-of-type(1) {
    color: rgba(0,0,0,.8);
    font-size: 24px;
    font-weight: 600;
}

.right-container .set {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.right-container input {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}

.right-container input, .right-container label {
    color: rgba(0,0,0,.8);
}

.right-container header {
    padding: 40px;
}



  .right-container footer {
    align-items: center;
    background: #fff;
    display: flex;
    padding: 5px 3px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-left: -6%;
    margin-top: -5%;
  }

  .right-container footer button {
    border: 1px solid rgba(0,0,0,.2);
    height: 38px;
    line-height: 16px;
    width: 112px;
    border-radius: 19px;
    font-family: 'Montserrat',sans-serif;
    /* align-items: center; */
    text-align: center;
    /* justify-content: center; */
  }
 

  .right-container footer #back {
    background: #fff;
    transition: .2s all ease-in-out;
    margin-left: 20px;
  }

  .right-container footer #back:hover {
    background: #171A2B;
    color: white;
  }

  .right-container footer #next {
    background: #807182;
    border: 1px solid transparent;
    color: #fff;
    margin-left: 80px; 
  }

  .right-container footer #next :hover {
    background: #171A2B;
  }

  
  .right-container .set .SKU, 
  .right-container .set .Name, 
  .right-container .set .Amount {

    display: block;
    margin-bottom: 5px;
    
}

.right-container .set label{
    font-weight: bold;
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    text-align: left;
    color: #000;
    top: 0;
    left: 0;
}


.right-container .set .SKU input,
 .right-container .set .Name input, 
 .right-container .set .Amount input{
    width: 200px; 
    margin-bottom: 5px; 
    text-align: left; 
    color: #000;
}

/* Notification Tab */

p {
    padding: 0;
    margin: 0;
  }
  
  .notifications-container {
    background-color: white;
    border-radius: 13px;
    padding: 60px;
    max-width: 500px;
    max-height: 800px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: -65px;
    position: absolute;
    right: 0;
    transform: translateY(-46.5%);
    overflow-x: hidden;
    z-index: 2;
    display: none;

  }
  
  @media (max-width: 39.9375em) {
    .notifications-container {
      border-radius: 0;
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  .notifications-container  .realheader .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  .notifications-container  .realheader .header .title {
    font-weight: 800;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
  
  
  @media (max-width: 280px) {
    .notifications-container  .realheader .header .title {
      font-size: 13px;
    }
  }
  
  .notifications-container .realheader .header .title .unread-notifications-number {
    color: white;
    background-color: #0a317b;
    padding: 2px 13px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: -130px;
  }
  
  @media (max-width: 280px) {
    .notifications-container  .realheader .header .title .unread-notifications-number {
      font-size: 12px;
      padding: 2px 10px;
      margin-left: 5px;
    }
  }

    .notifications-container .mark-as-read {
        margin-left: auto;
        position: absolute;
        top: -70px;
        right: -20px;
        margin: 20px;
    }

  
  .notifications-container  .mark-as-read .mark-as-read-button {
    color: #5e6778;
    text-decoration: none;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    right: 200px;
    margin-top: -100px;
  }
  
  .notifications-container .mark-as-read .mark-as-read-button:hover {
    color: #0a317b;
  }
  
  .notifications-container .notifications {
    margin: 10px 0;
    margin-top: 50px;
    position: relative;
  }
  
  .notifications-container .notifications .single-notification-box {
    padding: 5px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    width: 400px;
  }
  
  .notifications-container .notifications .single-notification-box .clickable-image {
    border: none;
    border-radius: 6px;
  }
  
  .notifications-container .notifications .single-notification-box .clickable-image:hover {
    outline: 2px solid #e5effa;
    outline-offset: 2px;
    cursor: pointer;
  }
  
  .notifications-container .notifications .single-notification-box .notification-text {
    padding: 0 0 0 14px;
  }
  
  @media (max-width: 39.9375em) {
    .notifications-container .notifications .single-notification-box .notification-text {
      width: 85%;
      padding: 0 14px 0 14px;
    }
  }
  
  @media (max-width: 366px) {
    .notifications-container .notifications .single-notification-box .notification-text {
      width: 78%;
      padding: 0 14px 0 14px;
    }
  }
  
  .notifications-container .notifications .single-notification-box .notification-text .link {
    text-decoration: none;
    font-weight: 800;
    color: #5e6778;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    margin-right: 5px;
  }
  
  .notifications-container .notifications .single-notification-box .notification-text .link:hover {
    color: #0a317b;
  }
  
  .notifications-container .notifications .single-notification-box .notification-text .name {
    color: #000000;
  }
  
  .notifications-container .notifications .single-notification-box .notification-text .description {
    color: #5e6778;
    margin-right: 5px;
  }
  
  .notifications-container .notifications .single-notification-box .notification-text .time {
    color: #939dae;
  }
  
  @media (max-width: 39.9375em) {
    .notifications-container .notifications .single-notification-box .notification-text .time {
      margin-top: 5px;
    }
  }
  
  .notifications-container .notifications .single-notification-box .notification-text .private-message {
    padding: 20px;
    border: 1px solid #e5effa;
    border-radius: 7px;
    margin-top: 10px;
    color: #5e6778;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
  }
  
  @media (max-width: 39.9375em) {
    .notifications-container .notifications .single-notification-box .notification-text .private-message {
      padding: 15px;
    }
  }
  
  .notifications-container .notifications .single-notification-box .notification-text .private-message:hover {
    background-color: #e5effa;
    cursor: pointer;
  }
  
  @media (max-width: 39.9375em) {
    .notifications-container .notifications .single-notification-box .comment {
      width: 70%;
    }
  }
  
  @media (max-width: 366px) {
    .notifications-container .notifications .single-notification-box .comment {
      width: 69%;
    }
  }
  
  @media (max-width: 280px) {
    .notifications-container .notifications .single-notification-box .comment {
      width: 55%;
    }
  }
  
  .notifications-container .notifications .unread {
    background-color: #f7fafd;
  }
  
  .notifications-container .notifications .unread .unread-symbol {
    font-size: 20px;
    color: #f65351;
    display: inline;
  }
  
  @media (max-width: 39.9375em) {
    .notifications-container .notifications .unread .unread-symbol {
      font-size: 16px;
    }
  }
  
  .notifications-container .notifications .read {
    background-color: none;
  }
  
  .notifications-container .notifications .read .unread-symbol {
    display: none;
  }
  
  .attribution {
    padding-top: 20px;
    padding-bottom: 20px;
  }